src/sites-available/*
!src/sites-available/invalid.conf
!src/sites-available/example.com.conf
src/sites-enabled/*
!src/sites-enabled/invalid.conf
!src/sites-enabled/example.com.conf
node_modules
.idea
